{% extends 'base.html' %} {% load humanize %} {% load crispy_forms_tags %} {% load static %} {% load crispy_forms_tags %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}"> {% endblock %} {% block content %}
<div class="">
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <h4>My Profile</h4>
        </div>

        {% if profile == user %}
        <div class="col-xs-6 col-sm-6 float-right">
            <div class="dropdown float-right">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                    <a href="{% url 'update_profile' profile.pk %}" class="dropdown-item" type="button">Edit</a>
                    <a href="{% url 'users:job_profile' profile.username %}" class="dropdown-item" type="button">Job List</a>
                    <a href="{% url 'messages:list_message'%}" class="dropdown-item" type="button">Messages</a>
                </div>
            </div>
        </div>

        {% endif %}
    </div>
<div class="well profile">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
         <img style="height:12%" src="{{MEDIA_URL}}{{profile.avatar.url}}" alt="" class="img-circle img-responsive">

            <h2>{{profile.first_name}} {{profile.last_name}}</h2>
            <p><strong>About: </strong> {{profile.profile}}. </p>
            <p><strong>Skills: </strong>
            {% for skill in profile.skills.all %}
                <span class="tags">{{skill}}</span>
            {% endfor %}
            </p>
            <p><strong>Total income: {{profile.income}} </strong>
        </div>

    </div>
</div>
</div>
{% endblock %}